/*基本样式*/

/* css reset 样式重置*/
*,::before,::after{
    margin:0;
    padding:0;

    /*采用盒子的内减模式*/
    box-sizing: border-box;
    /* 兼容webkit内核的浏览器*/
    -webkit-box-sizing: border-box;
    /*去除移动端点击高亮的效果*/
    -webkit-tap-highlight-color: transparent;
}

body{
    font-size:14px;
    /* 后面的是备胎*/
    font-family: "Microsoft Yahei",sans-serif;
    color:#333;
}

a{
    text-decoration: none;
    color:#333;
}

a:hover{
    color: red;
}

ul,ol{
    list-style: none;
}

input{
    outline: none;
    border:none;
    /*去除表单在 移动设备上的阴影，3d效果*/
    /*  appearance
        n.	外貌，外观; 出现，露面; [哲] 现象;
    */
    -webkit-appearance: none;
}

/*公共样式*/

.clearfix::before,
.clearfix::after{
    content:"";
    height:0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}

.pull-left{
    float: left;
}

.pull-right{
    float: right;
}

/* 组合样式*/
.b-l{
    border-left:1px solid #ccc;
}

.b-r{
    border-right:1px solid #ccc;
}

.b-t{
    border-top:1px solid #ccc;
}

.b-b{
    border-bottom:1px solid #ccc;
}

/* 图片压缩*/
[class^="icon-"]{
    background: url(../images/sprites.png) no-repeat;
    background-size: 200px 200px;
}

.jd-toolBar {
    height: 44px;
    background: url(../images/header-bg.png) repeat-x;
    background-size: 1px 44px;
    padding: 0 40px;
    position: absolute;
    width: 100%;
}
.jd-toolBar form {
    width: 100%;
    height: 44px;
    padding-top: 7px;
}
.jd-toolBar form input {
    width: 100%;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 10px;
}
.jd-toolBar .icon-back,
.jd-toolBar .icon-menu {
    width: 40px;
    height: 44px;
    position: absolute;
    left: 0;
    top: 0;
    background-position: -21px 0;
    padding: 12px 10px;
    background-origin: content-box;
    background-clip: content-box;
}
.jd-toolBar .icon-menu {
    right: 0;
    left: auto;
    background-position: -60px 0;
}