
/*
Smart-forms Demo Template
Built with the ivory framework || http://weice.in/ivory/
Designed by elflaire || http://www.doptiq.com
----------------------------------------------------------- */

@font-face {
	font-family: 'DroidSansRegular';
	src: url(http://doptiq.com/jazz-timeline/core/fonts/droidsans/DroidSans-webfont.eot?#iefixx') format('embedded-opentype'), 
		 url('../fonts/droidsans/DroidSans-webfont.woff') format('woff'),
		 url('../fonts/droidsans/DroidSans-webfont.ttf') format('truetype'),
		 url(http://doptiq.com/jazz-timeline/core/fonts/droidsans/DroidSans-webfont.svg#webfont6rGBoMAOO') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face{font-family:'ProximaNovaRegular';
src:url(../fonts/proxima/ProximaNova-Reg-webfont.eot);
src:url(../fonts/proxima/ProximaNova-Reg-webfont.eot¿iefix.eot) format("eot"),
	url(../fonts/proxima/ProximaNova-Reg-webfont.woff) format("woff"),
	url(../fonts/proxima/ProximaNova-Reg-webfont.ttf) format("truetype"),
	url(http://doptiq.com/jazz-timeline/core/fonts/proxima/ProximaNova-Reg-webfont.svg#webfontZam02nTh) format("svg");
	font-weight:normal;font-style:normal; }
	
	
@font-face{font-family:'ProximaNovaLight';
src:url(http://doptiq.com/jazz-timeline/core/fonts/proxima/ProximaNova-Light-webfont.eot);
src:url(http://doptiq.com/jazz-timeline/core/fonts/proxima/ProximaNova-Light-webfont.eot?iefix) format("eot"),
	url(../fonts/proxima/ProximaNova-Light-webfont.woff) format("woff"),
	url(../fonts/proxima/ProximaNova-Light-webfont.ttf) format("truetype"),
	url(http://doptiq.com/jazz-timeline/core/fonts/proxima/ProximaNova-Light-webfont.svg#webfontBtAcCspH) format("svg");
	font-weight:200;font-style:normal;}

@font-face{font-family:'ProximaNovaBold';
src:url(../fonts/proxima/ProximaNova-Bold-webfont.eot);
src:url(../fonts/proxima/ProximaNova-Bold-webfont.eot¿iefix.eot) format("eot"),
	url(../fonts/proxima/ProximaNova-Bold-webfont.woff) format("woff"),
	url(../fonts/proxima/ProximaNova-Bold-webfont.ttf) format("truetype"),
	url(http://doptiq.com/jazz-timeline/core/fonts/proxima/ProximaNova-Bold-webfont.svg#webfontZ6etP9ZY) format("svg");
	font-weight:bold;font-style:normal;}
	
/* Reset 
------------------------------------------------------------ */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,and,address,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video,input,textarea,select {border:0;font-size:100%;margin:0;outline:0;padding:0;vertical-align:baseline; }

/* HTML5 
------------------------------------------------------------ */
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block;}
audio,canvas,video {display: inline-block; *display: inline; *zoom: 1;}
audio:not([controls]) {display: none; height: 0;}
[hidden] {display: none;}

html { 
	overflow-x: hidden; 
	overflow-y: scroll; 
	-webkit-overflow-scrolling: touch; 
	-webkit-font-smoothing: antialiased; 
	-webkit-text-size-adjust: 100%; 
	-ms-text-size-adjust: 100%;	
}

body, select, input, textarea { color: #444; } 
body{
	margin: 0;
	font:normal 14px/20px "DroidSansRegular",Arial,Helvetica,sans-serif; 
	min-height: 100%; 
	background: #fff;
}
		
h1,h2,h3,h4,h5,h6 {
	font-family:'ProximaNovaLight',Arial,Verdana,sans-serif; 
	text-rendering: optimizelegibility;
	font-weight: 300;
	margin: 0;
}

h1 { font-size:35px;line-height:35px; }
h2 { font-size:26px;line-height:26px; }
h3 { font-size:22px;line-height:22px; }
h4,h5,h6{font-size:20px; line-height:20px;}

blockquote, cite, q { quotes: none; font-family: serif; }
pre, code, kbd, tt, samp, var { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size:100%; }
hr {background:transparent; margin:0 0 0.5em 0; padding:0 0 0.5em 0; border:0; border-bottom:1px #ddd solid; -moz-box-sizing: content-box; box-sizing: content-box;}
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; line-height:1.5em; margin:0 0 1em 0; }
acronym, abbr { border-bottom:1px #aaa dotted; font-variant:small-caps; letter-spacing:.07em; cursor:help;}
blockquote, .bq, blockquote p{ margin:0 0 0.5em 0; color:#888; }
blockquote:before, blockquote:after, q:before, q:after{content: ""; content: none;}
blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; } 	
kbd, samp, var, tt { color:#666; font-weight:bold; }  	
p { line-height:1.5em; margin:0 0 1em 0;  }
p img { margin: 0; }
var, dfn { font-style:italic; }
strong,b { font-weight:bold; }
small { font-size:91.667%; }
em,i { font-style:italic; }
big { font-size:116.667%; }
pre, code { color:#800; }
sub { bottom: -0.25em; }
sup { top: -0.5em; }

/* Lits /ul ol dl/
------------------------------------------------------------ */
ol ol { list-style-type:lower-latin; margin-bottom:0; }
ul ul { list-style-type:none; margin-bottom:0; }
ul, ol, dl, menu { line-height:1.5em;}
ol { list-style-type:decimal; }
ul { list-style-type:none; }
dd { margin:0 0 1em 0.8em; }
li { line-height:1.5em; }
dt { font-weight:bold; }
nav ul,nav ol {list-style: none; list-style-image: none;}
menu,ol,ul {padding: 0;}
input[placeholder]{ font-family:'fauna-oneregular', Arial, Helvetica, sans-serif; font-style: normal; color:#999999; }

/* Base Link Styling
------------------------------------------------------------ */
a:link, 
a:visited, 
a:hover, 
a:active { text-decoration: none; outline: none; }
a:hover, a:active, a:focus { outline: 0; }
  
/* Base Table  Styling 
------------------------------------------------------------ */  
table {border-collapse: collapse; border-spacing: 0;}	
td { vertical-align: top; }
td, th{line-height:1.5em;}

/* Base Image Styling
------------------------------------------------------------ */ 
img { display:block; border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
img, img a, a img { border:none; outline:none; background:none; }
.responsive-img{ max-width: 100%; height: auto; width: auto\9; }
	
/* Base Misc Styling
------------------------------------------------------------ */
svg:not(:root) { overflow: hidden; }
figure { margin: 0; } 
::-moz-selection {background: #b3d4fc;text-shadow: none;}
::selection {background: #b3d4fc;text-shadow: none;}
:-moz-any-link:focus, div, :focus{ outline:none; }
.chromeframe {margin: 0.2em 0; background: #ccc; color: #000; padding: 0.2em 0;}
.left{ float:left; }
.right{ float:right; } 


/* Genaral clearing 
-------------------------------------------------------- */ 
.row:before,.row:after,.clear:before,.clear:after, 
.blog-post article:before, .blog-post article:after{content:'';display:table}
.row:after,.clear:after, .blog-post article:after{clear:both}
.row,.clear, .blog-post article{zoom:1}
	
* {
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;  
	-o-box-sizing: border-box; 
	box-sizing: border-box; 
}

.smart-grid{ margin:0 auto; width:100%; padding:20px; max-width:1024px;  } 
.smart-grid img { max-width: 100%; display:block;  } 
.row{width:100%; margin:0 auto;}
.col1{width:8.33%;}
.col2{width:16.66%;}
.col3{width:25%;}
.col4{width:33.33%;}
.col5{width:41.66%;}
.col6{width:50%;}
.col7{width:58.33%;}
.col8{width:66.66%;}
.col9{width:75%;}
.col10{width:83.33%;}
.col11{width:91.66%;}
.col12{width:100%; float:left; position:relative;}
.col1-5{width:20%;}
.col1-8{width:12.5%;}

.col1,.col2,.col3,.col4,.col5,.col6,.col7,
.col8,.col9,.col10,.col11,.col1-5,.col1-8 { 
	float:left; 
	padding-left:10px; 
	padding-right:10px; 
	position:relative;
}

.col1.first,.col2.first,.col3.first,.col4.first,.col5.first,.col6.first,
.col7.first,.col8.first,.col9.first,.col10.first,.col11.first,.col1-5.first,.col1-8.first { 
	padding-left: 0; 
	position:relative; 
}

.col1.last,.col2.last,.col3.last,.col4.last,.col5.last,.col6.last,.col7.last,
.col8.last,.col9.last,.col10.last,.col11.last,.col1-5.last,.col1-8.last { 
	padding-right: 0; 
	position:relative; 
}

/* fluid containers 
------------------------------------------------------------------ */
.full-wrapper{ width:100%; }
.section-wrapper{ position:relative; width:100%; }


a {
	-webkit-transition: color linear 0.2s;
	-moz-transition: color linear 0.2s;
	-ms-transition: color linear 0.2s;
	-o-transition: color linear 0.2s;
	transition: color linear 0.2s;
	text-decoration: none;
}

/* Menu 
------------------------- */	
#menu {
	background: #009182;
	font-family:'ProximaNovaLight',Arial,Verdana,sans-serif;
	line-height: 60px;
	font-size: 130%;
	position:fixed; 
	height: 60px;
	z-index: 100;		
	width:100%;		
	right:0;		
	left:0;		
	top:0;
}
	
#menu h1 {
	font-family:'ProximaNovaLight',Arial,Verdana,sans-serif; 
	text-transform: none;
	padding-left:15px;
	line-height:60px;
	font-weight:300;
	color:#F8DD22;
	font-size:28px;
}
	
#menu img {
	vertical-align: baseline;
	-webkit-transition: 0.1s all;		
	-moz-transition: 0.1s all;
	-ms-transition: 0.1s all;
	transition: 0.1s all;
	margin-left: 8px;
	opacity: 0.85;
	height: 22px;
}
	
#menu .toggle { display: none; }
#menu a:hover img { opacity: 1; }
#menu ul {
	position: absolute;
	list-style: none;
	margin: 0;
	right: 0;
	top: 0;
}
	
#menu ul li {
	display: inline;
	padding:0;
	margin:0;
}
	
#menu ul li a {
	font-size:1.2em;
	display: inline-block;
	padding:15px 20px;
	color:#3ED6CA;
	outline:none;
}
	
#menu ul li a:hover, 
#menu .current{ color:#31EBEE; }
.main-heading{ 
	border-bottom:1px solid #eee;
	padding:25px 0;
	padding-top:10px; 
	font-weight:300; 
	color:#53D5D0; 
	font-size:2.4em; 
	text-align:center;  
	margin-bottom:20px; 
	position:relative;
	text-transform:uppercase;  
}

.main-heading:before{
	content:"";
	position:absolute;
	border-bottom:1px solid #fff;
	bottom:-2px;
	height:0;
	right:0;
	left:0; 
}

.main-heading:after{
	content:"";
	position:absolute;  
	/*background:#3CB6B6;*/
	bottom:-3px; 
	height:5px; 
	width:30%;
	left:35%; 
}

.slistr ul {
	padding-top:20px; 
	list-style:none;  
	padding:0; 
	margin:0;
}

.slistr ul li{ padding:0; }

.tpx{ padding-top:1.5em; }
.sxm-links{ color:#3CB6B6;}
.sxm-links:hover{ text-decoration:underline; }
.tac{ padding-bottom:40px; }

/* responsive demo 
--------------------------------*/
.demo-pic span { 
	display:block; 
	text-align:center; 
}

.demo-pic span img { 
	max-width: 100%; 
	display:block;  
}

.demo-pic img{	
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
    border: 10px solid #e3e3e3;
	-webkit-border-radius:9999px;
    -moz-border-radius:9999px;
	-ms-border-radius:9999px;
	-o-border-radius:9999px;
   	border-radius: 100%;
	margin:0 auto;
	opacity:1;
}

.demo-pic:hover img{ 
	border: 10px solid #3CB6B6; 
	opacity:0.65; 
}

.demo-details{ text-align:center; }
.demo-details h3{ padding-top:20px; padding-bottom:5px; margin-bottom:0; }
.sxm-links i{ position:static; display:inline-block; float:none; padding:0; margin:0; font-size:14px; }
.mx-wrapper ul li{ display:block; }
.mx-wrapper ul li a{ 
	display:block; 
	background:#00AA9A;
	padding:15px 10px;
	text-align:center;
	margin-bottom:15px;
	font-size:18px;
	font-family:'ProximaNovaLight',Arial,Verdana,sans-serif; 
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	color:#fff;
}

.mx-wrapper ul li a:hover{
	background:#F8DD22;
	color:#fff;
}

.intro{ background:#00AA9A; padding-top:60px; border-bottom:1px solid #20628E; }
#support{ border-top:1px solid #fff; }
.slistr{ padding:20px 0; }
.slistr h2{ margin-bottom:15px; }
.slistr h2, 
.slistr ul li{ color:#fff; }
.slistr ul li i{ margin-right:5px; }
.slistr ul li{ padding:2px 0; }
.demos article,
.features  article{
	margin-bottom: 2.6em;
}
.demos{ padding-bottom:30px; }
.features { background:#F9F9F9; border-bottom:1px solid #eee; }


.features article i{
	float: left;
	vertical-align: middle;
	font-size:28px;
}

.features article h3{
	font-weight: 300;
	font-size: 24px;
	line-height: 22px;
	margin-bottom: 22px;
	position:relative; 
	top:3px;
}
.demos article h3, 
.features article h3, 
.features article i { color:#53D5D0; }

.features article h3,
.features article p{
	margin-left: 40px;
	vertical-align: middle;
}

.demos article h3{
	font-weight: 300;
	font-size: 24px;
	margin-bottom: 22px;
}
.demos article p,
.features article p{ line-height:23px; }

.dliknks a{ 
	color:#E53D37; 
	font-size:0.85em;
	padding-right: 15px;
	display:inline-block; 
	*display:inline; 
	*zoom:1;
}
.dliknks a i{ 
	font-size:14px; 
	position:relative;
	padding-left:3px;
	top:2px; 
}
.dliknks a:hover{ 
	color:#3CB6B6;	
}
.flinks{ color:#53D5D0;  }
.flinks:hover{ color:#3CB6B6; text-decoration:underline; }
.buy-btn{ color:#F8DD22!important; text-transform:uppercase; font-family:'ProximaNovaBold'; }
.buy-btn:hover{ color:#F8DD22!important; }
.pad-left-70{ padding-left:70px; }
.pad-right-70{ padding-right:70px; }
.subz{ padding:20px 0; padding-bottom:30px; text-align:center; }
.subz h6{ text-transform:uppercase; letter-spacing:1px; color:#639CD3; }
#demos{ background:#f9f9f9; border-bottom:1px solid #eee; border-top:1px solid #fff;  }
#demos .tac{ padding-bottom:0; }
#demos .main-heading{ padding-bottom:25px; margin-bottom:15px; }
.main-hdr{ text-align:center; text-transform:uppercase; color:#F8DD22; font-size:120px; font-family:'ProximaNovaBold',Arial,Verdana,sans-serif;  }
.intro-ppx{ padding:100px 0; }
.intro-ppx h3{ padding-top:40px; color:#32F2F4; text-align:center; text-transform:uppercase; }
.intro-ppx h6{ font-size:24px; padding-top:10px; color:#53D5D0; text-align:center; font-family:"Times New Roman", Times, serif; font-style:italic; font-weight:bold; }
/* Desktop 
------------------------------------------------------ */
@media only screen and (max-width: 970px) {
	#menu { height: 60px; line-height: 60px; }
	#menu ul { right: 20px; }
	.main-hdr{ font-size:90px; }

}

/* Tablet 
------------------------------------------------------ */
@media only screen and (max-width: 800px) {
	.main-hdr{ font-size:48px; }
	.col1,.col2,.col3,.col4,.col5,.col6,.col7,.col8,
	.col9,.col10,.col11,.col1-5,.col1-8 { 
		width:100%;  
		min-height:1px;  
		padding-left:0;  
		padding-right:0; 
		float:none; 
	}
	.slistr{
		padding-left: 3em;
		padding-right: 3em;
	}
	
	#menu {
		text-align: left;
		height: auto;
		padding:0;
		margin:0;
	}
			
	#menu .toggle {
		box-shadow: 0 -1px 0 rgba(0, 0, 0, .3), 0 1px 0 rgba(255, 255, 255, .05);
		border: solid 1px #000;
		border-top-color: #444;
		background: #292929;
		position: absolute;
		padding: 10px 20px;
		line-height: 26px;
		border-radius:0;
		font-size:14px;
		color: #53D5D0;
		display: block;
		height: auto;
		right: 20px;
		top: 8px;
	}
		
	#menu.active {
		background-color: #111;
		border-color: #111;
		box-shadow: none;
		color: #fff;
	}
		
	#menu .toggle i{ margin-right:5px; }	
	#menu h1 {
		font-size: 140%;
		padding:18px 15px;
		line-height:normal;
	}
				
	#menu ul {
		position: static;
		-ms-transition: all .5s ease-in-out;
		-moz-transition: all .5s ease-in-out;
		-webkit-transition: all .5s ease-in-out;
		transition: all .5s ease-in-out;
		overflow: hidden;
		max-height: 0;
		opacity: 0;
	}
		
	#menu.active ul {
		opacity: 1;
		height:auto;
		max-height:100em;
	}
		
	#menu ul li {
		display: block;
		background: #333;
		border-top: solid 1px #444;
		border-bottom: solid 1px #222;
	}
	
	#menu ul li a{
		font-size: 100%;
		padding:10px 20px;
		display: block;
		margin: 0;
	}

}

/* Mobile 
--------------------------------------------- */
@media only screen and (max-width: 640px) {
	body { line-height: 1.7; }
	.top-section{ padding-bottom: 4em; }
}

@media only screen and (max-width: 479px) {
	ul.ctx li{ font-size:0.95em; }
}
