<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1"/>
	<title>Document</title>
	<style>
		
	</style>
</head>
<body>
	<div id="box">
		编号：<input type="text" v-model="id"><br/>
		姓名：<input type="text" v-model="name"><br/>
		性别：<input type="text" v-model="sex"><br/>
		得分：<input type="text" v-model="score"><br/>
		<!-- 绑定事件加不加括号都行 -->
		<button v-on:click="add">确认添加</button>
		<button v-on:click="revise()">确认修改</button>
		<hr/>
		<select v-model="select_value">
			<option selected>编号</option>
			<option>姓名</option>
			<option>性别</option>
			<option>得分</option>
		</select>
		<input v-bind:placeholder="select_value+':'" v-model="search">
		<button v-on:click="search_info(search)">查找</button>
		<button v-on:click="reset">还原</button>
		<hr/>
		<table border="1px" width="80%">
			<thead>
				<tr>
					<th v-for="e of info">{{e}}</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="(e,i) in message" align="center">
					<td>{{message[i].id}}</td>
					<td>{{message[i].name}}</td>
					<td>{{message[i].sex}}</td>
					<td>{{message[i].score}}</td>
					<td>
						<button v-on:click="del(i)">删除</button>
						<button v-on:click="edit(i)">编辑</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>
<script type="text/javascript" src="vue/vue.js"></script>
<script type="text/javascript" src="vue/axios.js"></script>
<script type="text/javascript" src="vue/vue-router.js"></script>
<script type="text/javascript">
	var vueData={
		message:[
			{
				id:1001,
				name:"张三",
				sex:"男",
				score:10
			},
			{
				id:1002,
				name:"李四",
				sex:"男",
				score:9.8
			},
			{
				id:1003,
				name:"王五",
				sex:"女",
				score:8
			},
			{
				id:1004,
				name:"赵六",
				sex:"女",
				score:8
			}
		],
		info:["编号","姓名","性别","得分",'操作'],
		id:"",
		name:"",
		sex:"",
		score:"",
		index:"",
		select_value:"编号",
		search:""
	};
	var vueObj=new Vue({
		el:"#box",
		data:vueData,
		methods:{
			edit:function(i){
				this.index=i;
				this.id=this.message[i].id;
				this.name=this.message[i].name;
				this.sex=this.message[i].sex;
				this.score=this.message[i].score;
			},
			del:function(i){
				this.message.splice(i,1);
			},
			add:function(){
				var obj={
					id:this.id,
					name:this.name,
					sex:this.sex,
					score:this.score
				}
				this.message.push(obj);
			},
			/*revise:function(){
				var obj1={
					id:this.id,
					name:this.name,
					sex:this.sex,
					score:this.score
				}
				this.message.splice(this.index,1,obj1);
			},*/
			revise:function(){
				var obj1={
					id:this.id,
					name:this.name,
					sex:this.sex,
					score:this.score
				}
				//this.message[this.index]=obj1;这种写法在vue中不行,
				//因为vue不能直接监听数组元素的修改,得用Vue.set()方法来监听。
				//或者调用数组的splice方法,先删除再添加也行。
				Vue.set(this.message,this.index,obj1);
			},
			search_info:function(par){
				switch(this.select_value){
					case "编号":
						for (var i = 0; i < this.message.length; i++) {
							if(this.message[i].id==par){
								this.message.unshift(this.message[i]);
								this.message.splice(i+1,1);
							}
						}
						break;
					case "姓名":
						for (var i = 0; i < this.message.length; i++) {
							if(this.message[i].name==par){
								this.message.unshift(this.message[i]);
								this.message.splice(i+1,1);
							}
						}
						break;
					case "性别":
						for (var i = 0; i < this.message.length; i++) {
							if(this.message[i].sex==par){
								var obj=this.message[i];
								this.message.splice(i,1);
								this.message.unshift(obj);
								
							}
						}
						break;
					case "得分":
						for (var i = 0; i < this.message.length; i++) {
							if(this.message[i].score==par){
								var obj=this.message[i];
								this.message.splice(i,1);
								this.message.unshift(obj);
							}
						}
						break;
				}
			},
			reset:function(){
				for (var i = 0; i < this.message.length-1; i++) {			
					for (var j = 0; j < this.message.length-i-1; j++) {
						var str=this.message[j].id;
						var str1=this.message[j+1].id;
						//如果上面不减1，this.message[j+1].id==this.message[this.message.length].id, (undefined.id)就会报错。
						var temp='';
						if (Number(str)>Number(str1)){				
							temp=this.message[j];
							Vue.set(this.message,j,this.message[j+1]);
							Vue.set(this.message,j+1,temp);
							/*//或着
							temp=this.message[j];
							var temp1=this.message[j+1];
							this.message.splice(j,1,temp1);
							this.message.splice(j+1,1,temp);*/
						}
					}					
				}	
			}
		}
	})
</script>