ul,ol,li,p,h1,h2,h3,body{
	margin: 0;
	padding: 0;
}
ul,ol,li{
	list-style: none;
}
body{
	background-color: #eee;
}
.wrap{
	min-width: 320px;
	max-width: 640px;
	margin: 0 auto;
	padding-top:35px;
	padding-bottom: 51px;
	background:#ddd;
}
.vFor{
	background:white;
	margin: 10px 0;
	padding: 10px;
}
.comUl{
	min-width: 320px;
	max-width: 640px;
	width:100%;
	height:35px;
	line-height: 35px;
	background-color: #F7F7F7;
	position:fixed;
	z-index: 999;
	top:0;			
}		
.comLi1{
	float: left;
	width: 33.3%;
	height: 35px;
	text-align: center;
}
.comLi2{
	text-align: left;
	padding-left: 20px;
	box-sizing: border-box;
	margin-top: 5px;
}
.comLi3{
	text-align: right;
	padding-right: 20px;
	box-sizing: border-box;
	margin-top: 5px;
}
.comLi1:hover,.comLi2:hover,.comLi3:hover{
	cursor:pointer;
}
.comFootUl{
	min-width: 320px;
	max-width: 640px;
	width:100%;
	height:51px;
	background-color: #F7F7F7;
	position:fixed;
	bottom:0;
	border-top: 4px solid #F7F7F7;
}
.comFootLi{
	width: 25%;
	height: 45px;
	float: left;
	margin-top: 3px;
	text-align: center;
}
audio{
	max-width: 640px;
	min-width: 320px;
	width: 100%;
	height: 31px;
	position: fixed;
	top: 36px;
}
