body{
	background: #f5f5f5;
	margin: 0;
	padding: 0;
	color: #141414;
	font-size: 12px;
}
ol,ul,li,p,h1,h2,h3{
	margin:0;
	padding: 0;
}
ul,ol{
list-style: none;
}
a{
	color: #141414;
	text-decoration: none;
}
a:hover{
	color: red;
}
.left{
	float: left;
}
.right{
	float: right;
}
img{
	border: 0;
}
/*网页头部header*/
.header{
	width: 1180px;	
	background: #f5f5f5;
	margin: 0 auto;
	height: 36px;
	line-height: 36px;
	text-align: center;
	border: 1px solid #f5f5f5;    /*如果不给边框，这里的li悬停的时候，下面的nav就会跑掉。*/
}
.header_ul1:hover,.header_ul2:hover,
.header_ol3:hover,.header_ol4:hover,
.header_ol6:hover,.header_ol9:hover{
	width: 83px;
	border: 1px solid #666;
	border-bottom: none;
	background: white;
}
.header_ul1:hover div,.header_ul2:hover div,
.header_ol3:hover div,.header_ol4:hover div,
.header_ol6:hover div,.header_ol9:hover div{
	display: block;
}
.header_ul1:hover b,.header_ul2:hover b,
.header_ol3:hover b,.header_ol4:hover b,
.header_ol6:hover b,.header_ol9:hover b{
	background-position: -72px -25px;
}
.header li{
	float: left;
	width: 85px;
	position: relative;
}
.header .header_ol5{
	width: 90px;
}
.header .header_ol7{
	width: 60px;
}
.header .header_ol8{
	width: 75px;
}
.header .header_ol{
	width: 40px;
}
.header .header_phone{
	width:35px;
	height:36px;
}
.header b{
	display: inline-block;
	width: 15px;
	height: 16px;
	background:url(../img/icons.jpg) no-repeat 0 -21px;
	#margin-top:-3px;
	-margin-top:8px;
}
.header_ol5 u{
	display: inline-block;
	width: 16px;
	height: 16px;
	background:url(../img/icons.jpg) no-repeat -18px 0px;
	margin-right: 5px;
	position: relative;
	bottom: -3px;
	#margin-top:-3px;
	-margin-top:8px;
}
.header_ol5 i{
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../img/icons.jpg) no-repeat -42px -28px;
	#margin-top:-3px;
	-margin-top:8px;
}
.header_phone p{
	background: url(../img/icons.jpg) no-repeat -42px -1px;
	width: 17px;
	height: 22px;
	margin:5px 0 0 15px;
}
.header div{
	width: 83px;
	line-height: 36px;
	border: 1px solid #666666;
	border-top: none;
	background: white;
	position: absolute;
	left: -1px;
	z-index:1;
	display: none;
}
.header .header_ol9 div{
	-display: block;
}
.header div a{
	margin-left: -18px;
}
/*网页搜索框与导航部分nav*/
.nav{
	width:1180px;
	height:147px;
	background:white;
	margin:0 auto;
}
.nav_search{
	margin:30px 0 20px 0;
	float: left;
}
.nav img{
	margin: 15px 200px 27px 0px;
	float: left;
}
.nav_text{
	width: 448px;
	height: 34px;
	line-height: 34px;
	border: 2px solid #f9c300;
	color: #c6bbb5;
	font-weight: bold;
	float:left;
	outline: none;
	padding-left: 25px;
	background: url(../img/icon.jpg) no-repeat 5px 10px;
	margin-bottom:5px;
}
.nav_button{
	width: 98px;
	height: 40px;
	border: none;
	margin-bottom:5px;
	background: #f9c300;
	font-weight: bold;
	float:left;
	outline: none;
}
.nav_div{
	float: left;
	position:relative;
	line-height: 34px;
	height:34px; 
	background: #ffc001;
	width: 189px;	
	border:1px solid #ffc001;
}
.nav_div:hover ul{
	display:block;
}
.nav_div:hover{
	border:1px solid;
	border-bottom:none;
}
.nav_div ul{
	position:absolute;
	z-index:1;
	top: 34px;
	left:-1px;
	display: none;
	-display: block;
	line-height: 36px;
	background: #f2f2f2;
	border:1px solid;
	border-top:none;
	width: 189px;
	height: 470px;	
}
.nav ul li{
	padding-left: 13px;
}
.nav_div b{
	padding-left: 13px;
}
.nav ol{
	float: left;
	line-height: 36px;
}
.nav ol li{
	display: inline;
	float: left;
	margin-left: 27px;
}
.nav_ol5 b{
	display: inline-block;
	height: 14px;
	width: 14px;
	background:url(../img/hot.jpg) no-repeat;
	position: relative;
	bottom: 3px;
	-margin-top:9px;
}
/*搜索框与导航下面的大图部分——article部分*/
@keyframes background{
	0%{
		background: url(../img/first.png) no-repeat center center;
		background-size: 100% 100%;
		}
	20%{
		background: url(../img/pc5.jpg) no-repeat center center;
		background-size: 100% 100%;
		}
	40%{
		background: url(../img/UCbrand.jpg) no-repeat center center;
		background-size: 100% 100%;
		}
	60%{
		background: url(../img/picture.png) no-repeat center center;
		background-size: 100% 100%;
		}
	80%{
		background: url(../img/uctoutiao.png) no-repeat center center;
		background-size: 100% 100%;
		}
	100%{
		background: url(../img/first.png) no-repeat center center;
		background-size: 100% 100%;
		}
}
.article{
	height: 470px;
	#background: url(../img/first.png) no-repeat center center;
	animation:background 10s ease infinite;
}
.article_sub{
	width: 1180px;
	height: 100%;
	margin: 0 auto;
	position: relative;
}
.article_sub_scroll{
	position: absolute;
	left: 50%;
	bottom: 10px;
}
.article_sub_scroll li{
	display: inline;
	float: left;
	margin-left: 8px;
} 
.article_sub_scroll a{
	float: left;
	width: 20px;
	height: 20px;
}
.article_sub_scroll1{
	background:url(../img/icons.gif) no-repeat -39px 0;
}
.article_sub_scroll1:hover{
	background-position:0 0;
}
.article_sub_scroll2{
	background:url(../img/icons.gif) no-repeat -39px -38px;
}
.article_sub_scroll2:hover{
	background-position:0 -38px;
}
.article_sub_scroll3{
	background:url(../img/icons.gif) no-repeat -39px -75px;
}
.article_sub_scroll3:hover{
	background-position:0 -75px;
}
.article_sub_scroll4{
	background:url(../img/icons.gif) no-repeat -39px -115px;
}
.article_sub_scroll4:hover{
	background-position:0 -115px;
}
.article_sub_scroll5{
	background:url(../img/icons.gif) no-repeat 0 -152px;
}
.article_sub_scroll5:hover{
	background-position:-39px -152px;
}
/*轮播图靠右侧的新闻框*/
.article_new{
	width: 218px;
	height: 440px;
	background: #fff;
	float: right;
	margin-top: 15px;
}
.article_new ul{
	width: 188px;
	height: 29px;
	border-bottom: 1px solid #f7f7f7;
	margin: 0 auto;
}
.article_new ul li{
	width: 32px;
	height: 28px;
	text-align: center;
	line-height: 28px;
	display: inline;
	float: left;
	margin: 0 12px;
	cursor: pointer;
	position: relative;
}
.article_new ul li:hover{
	border-bottom: 2px solid #fb6300;
}
.article_new ul li:hover div{
	display: block;
}
.article_new ul li div{
	position: absolute;
	top: 30px;
	z-index: 1;
	background: #FFFFFF;
	width: 188px;
	height: 120px;
	line-height: 28px;
	text-align: left;
}
.article_new_container{
	line-height: 28px;
	padding-left: 18px;
	height: 130px;
}
.article_new1{
	display: none;
	left: -10px;
	#top:30px;
}
.article_new2{
	display: none;
	left: -65px;
	#top:30px;
}
.article_new3{
	display: none;
	left: -125px;
	#top:30px;
}
/*轮播图靠右侧的新闻框下面的九宫格图*/
.article_new ol{
	width: 218px;
	height: 182px;
	border-top: 2px solid #f7f7f7;
	border-bottom: 2px solid #f7f7f7;
}
.article_new ol li{
	width: 72px;
	height: 60px;
	border-right: 1px solid #f7f7f7;
	border-bottom: 1px solid #f7f7f7;
	float: left;
	text-align: center;
}
.article_new .article_new_ol3,
.article_new .article_new_ol6,
.article_new .article_new_ol9{
	border-right: none;
}
.article_new ol p{
	width: 23px;
	height: 23px;
	background-image: url(../img/icons.jpg); 
	background-repeat:no-repeat;
	margin: 8px auto;
}
.article_new_ol1 p{
	background-position:-41px 0px;
}
.article_new_ol2 p{
	background-position:-70px 0px;
}
.article_new_ol3 p{
	background-position:-102px 0px;
}
.article_new_ol4 p{
	background-position:-141px 0px;
}
.article_new_ol5 p{
	background-position:-182px 0px;
}
.article_new_ol6 p{
	background-position:-223px 0px;
}
.article_new_ol7 p{
	background-position:-263px 0px;
}
.article_new_ol8 p{
	background-position:-302px 0px;
}
.article_new_ol9 p{
	background-position:-342px 0px;
}
/*轮播图靠右侧的新闻框下面的九宫格图下面的APP*/
.article_new_app a{
	display: inline-block;
	width: 32px;
	height: 32px;
	background-image: url(../img/icons.jpg);
	background-repeat: no-repeat;
	margin-left: 12px;
	#margin-left: 15px;
}
.article_new_app h3{
	margin:19px 0 10px 15px;
}
.article_new_app1{
	background-position:-379px 0;
}
.article_new_app2{
	background-position:-425px 0;
}
.article_new_app3{
	background-position:-468px 0;
}
.article_new_app4{
	background-position:-468px -44px;
}
/*轮播图下面的第二个正文articleA*/
.articleA{
	width: 1180px;
	margin:0 auto;
}	
/*artucalA正文最上面的四张图*/
.articleA_top{
	margin: 15px 0 15px;
}
.articleA_top a:hover{
	opacity: 0.5;
}
/*artucalA正文四张图下面的”放心去喜欢articleA_like”*/

	/*“放心去喜欢”里的“大聚惠”和“超市频道”--------因为代码有重复，所以写在一起*/
	/*“大聚惠”以数字13,14,15,16,结束*/
	/*“超市频道”以数字23,24,25,26,结束*/
.articleA_like a{
	display: inline;
	float: left;
	margin-right:2px;
	#margin-right:1px;
}
.articleA_like_tiltle{
	width: 165px;
	height: 188px;
}
.articleA_like h2{
	margin-bottom:10px;
}
.articleA_like_soap{
	background: url(../img/article/12.png) no-repeat;
	margin-top: -3px;
	width: 215px;
	height: 191px;
	transition: background-position 0.4s linear;
}
.articleA_like_oil{
	width: 215px;
	height: 188px;
	background: url(../img/article/22.png) no-repeat;
	transition: background-position 0.4s linear;
}
.articleA_like_13{
	width: 197px;
	height: 188px;
	background: url(../img/article/13.png) no-repeat;
}
.articleA_like_13 img{
	margin: 95px 0 0 60px;
	transition:margin 0.4s linear;
}
.articleA_like_13:hover img{
	margin: 95px 0 0 40px;
}
.articleA_like_14{
	width: 197px;
	height: 188px;
	background: url(../img/article/14.png) no-repeat;
}
.articleA_like_14 img{
	margin: 85px 0 0 70px;
	transition: margin 0.4s linear;
}
.articleA_like_14:hover img{
	margin: 85px 0 0 50px;
}
.articleA_like_15{
	width: 197px;
	height: 188px;
	background: url(../img/article/15.png) no-repeat;
}
.articleA_like_15 img{
	margin: 70px 0 0 95px;
	#margin: 68px 0 0 95px;
	transition: margin 0.4s linear;
}
.articleA_like_15:hover img{
	margin: 70px 0 0 75px;
	#margin: 68px 0 0 75px;
}
.articleA_like_16{
	width: 197px;
	height: 188px;
	background: url(../img/article/16.png) no-repeat;
}
.articleA_like_16 img{
	margin: 68px 0 0 100px;
	#margin: 66px 0 0 100px;
	transition: margin 0.4s linear;
}
.articleA_like_16:hover img{
	margin: 68px 0 0 80px;
	#margin: 66px 0 0 80px;
}
.articleA_like_23{
	width: 197px;
	height: 188px;
	background: url(../img/article/23.png) no-repeat;
}
.articleA_like_23 img{
	margin: 105px 0 0 60px;
	#margin: 102px 0 0 60px;
	transition: margin 0.4s linear;
}
.articleA_like_23:hover img{
	margin: 105px 0 0 40px;
	#margin: 102px 0 0 40px;
}
.articleA_like_24{
	width: 197px;
	height: 188px;
	background: url(../img/article/13.png) no-repeat;
}
.articleA_like_24 img{
	margin: 65px 0 0 90px;
	transition: margin 0.4s linear;
}
.articleA_like_24:hover img{
	margin: 65px 0 0 70px;
}
.articleA_like_25{
	width: 197px;
	height: 188px;
	background: url(../img/article/13.png) no-repeat;
}
.articleA_like_25 img{
	margin: 80px 0 0 70px;
	#margin: 76px 0 0 70px;
	transition: margin 0.4s linear;
}
.articleA_like_25:hover img{
	margin: 80px 0 0 50px;
	#margin: 76px 0 0 50px;
}
.articleA_like_26{
	width: 197px;
	height: 188px;
	background: url(../img/article/13.png) no-repeat;
}
.articleA_like_26 img{
	margin: 100px 0 0 60px;
	transition:margin 0.4s linear;
}
.articleA_like_26:hover img{
	margin:100px 0 0 40px;
}
.articleA_like_soap:hover,
.articleA_like_oil:hover{
	background-position:-18px 0;
}
.articleA_like a:hover{
	outline: 2px solid red;
	#border: 2px solid red;
}
.articleA_like_13:hover,.articleA_like_14:hover,
.articleA_like_15:hover,.articleA_like_16:hover,
.articleA_like_23:hover,.articleA_like_24:hover,
.articleA_like_25:hover,.articleA_like_26:hover{
	#width: 193px;
	#height: 184px;
}
.articleA_like_soap:hover{
	#width: 211px;
	#height: 187px;
}
.articleA_like_oil:hover{
	#width: 211px;
	#height: 184px;
}
.articleA_like_tiltle:hover{
	#width: 161px;
	#height: 184px;
}
.articleA_like_tiltle:hover img{
	#width: 161px;
	#height: 184px;
}
	/*"放心去喜欢"下面的"大牌盛宴"------因为代码有重复，所以写在一起*/
		/*"大牌盛宴"以articleA_banquet_left开头*/
		/*"精选好货"以articleA_banquet_center开头*/
		/*"必抢清单"以articleA_banquet_right开头*/
.articleA_banquet_left,
.articleA_banquet_center,
.articleA_banquet_right{
	width: 385px;
	height: 430px;
	float: left;
}
.articleA_banquet_center{
	margin: 0 12px;
}
.articleA_banquet p{
	height: 50px;
	background: #419cae;
	padding-left: 22px;
	line-height: 50px;
	color: #FFFFFF;
	font-size: 18px;
	font-weight: bold;
}
.articleA_banquet_center p,
.articleA_banquet_right p{
	background: #867cc5;
	padding-right: 12px;
}
.articleA_banquet_right p{
	background: #a25684;
}
.articleA_banquet p a{
	font-size: 12px;
	color: #FFFFFF;
	float: right;
	#margin-top:-48px;
}
.articleA_banquet p a:hover{
	color: red;
}
.articleA_banquet p b{
	width: 16px;
	height: 16px;
	float: right;
	margin-top: 17px;
	#margin-top: -32px;
	margin-left: 5px;
	background: url(../img/icons.gif) no-repeat -81px -5px;
}
.articleA_banquet p .articleA_banquet_rightB{
	background-position: -81px -39px;
}
.articleA_banquet_left img{
	#width:189px;
}
.articleA_banquet_left3,.articleA_banquet_left4,
.articleA_banquet_left5,.articleA_banquet_left6,
.articleA_banquet_center1,.articleA_banquet_center2,
.articleA_banquet_center3,.articleA_banquet_center4,
.articleA_banquet_center5,.articleA_banquet_center6{
	display:inline;
	float: left;
	width: 170px;
	height: 113px;
	line-height: 20px;
	font-size: 14px;
	color: black;
	padding:12px 0 0 20px;
	transition: background-position 0.4s linear;
}
.articleA_banquet a:hover{
	background-position: -13px 0px;
}
.articleA_banquet_left4,.articleA_banquet_left6,
.articleA_banquet_center2,.articleA_banquet_center4,
.articleA_banquet_center6{
		margin-left: 4px;
}
.articleA_banquet_left3{
	background:#fff url(../img/article/33.png) no-repeat;
	height: 112px;
	-height: 113px;
}
.articleA_banquet_left4{
	background:#fff url(../img/article/34.png) no-repeat;
	height: 112px;
	-height: 113px;
}
.articleA_banquet_left5{
	background:#fff url(../img/article/35.png) no-repeat;
	height: 112px;
	-height: 113px;
}
.articleA_banquet_left6{
	background:#fff url(../img/article/36.png) no-repeat;
	height: 112px;
	-height: 113px;
}
.articleA_banquet_center1{
	background:#fff url(../img/article/41.png) no-repeat;
}
.articleA_banquet_center2{
	background:#fff url(../img/article/42.png) no-repeat;
}
.articleA_banquet_center3{
	background:#fff url(../img/article/43.png) no-repeat;
}
.articleA_banquet_center4{
	background:#fff url(../img/article/44.png) no-repeat;
}
.articleA_banquet_center5{
	background:#fff url(../img/article/45.png) no-repeat;
}
.articleA_banquet_center6{
	background:#fff url(../img/article/46.png) no-repeat;
}
.articleA_banquet_right ul{
	background: #FFFFFF;
	height: 36px;
	border-bottom: 1px solid #f8f8f8;
}
.articleA_banquet_right li{
	width: 62px;
	height: 34px;
	text-align: center;
	line-height: 34px;
	display: inline;
	float: left;
	margin: 0 33px;
	font-size: 16px;
	position: relative;
}
.articleA_banquet_right li:hover{
	border-bottom: 2px solid #995e7e;
}
.articleA_banquet_right_item a{
	display: inline-block;
	background: #fff;
	font-size: 14px;
	line-height: 40px;
	color: black;
	padding-left: 20px;
	border-bottom: 1px solid #f8f8f8;
	width: 365px;
	#padding-top: 11px;
}
.articleA_banquet_right_item img{
	margin-top:5px;
}
.articleA_banquet_right_item1,
.articleA_banquet_right_item2,
.articleA_banquet_right_item3{
	padding-right:13px;
	padding-left: 23px;
	#padding-left: 20px;
	#padding-right:10px;
	transition: padding 0.4s linear;
}
.articleA_banquet_right_item4,
.articleA_banquet_right_item5,
.articleA_banquet_right_item6{
	padding-left: 15px;
	#padding-left: 12px;
	transition: padding 0.4s linear;
}
.articleA_banquet_right_item a:hover{
	color: red;
}
.articleA_banquet_right_item1:hover,
.articleA_banquet_right_item2:hover,
.articleA_banquet_right_item3:hover{
	padding-left: 8px;
	padding-right: 28px;
	#padding-left: 8px;
	#padding-right:22px;
}
.articleA_banquet_right_item4:hover,
.articleA_banquet_right_item5:hover,
.articleA_banquet_right_item6:hover{
	padding-left: 0;
	padding-right: 15px;
	#padding-left: 0px;
	#padding-right: 12px;
}
.articleA_banquet_right li div{
	display: none;
	width: 360px;
	height: 339px;
	text-align: left;
	padding-left:20px;
	background: #FFFFFF;
	position: absolute;
}
.articleA_banquet_right_li1{
	left: -32px;
	top: 36px;
}
.articleA_banquet_right_li2{
	left: -159px;
	top: 36px;
}
.articleA_banquet_right_li3{
	left: -287px;
	top: 36px;
}
.articleA_banquet_right li:hover div{
	display: block;
}
/*”大牌盛宴“下面的”为您推荐“articleA_recommend*/
.articleA_recommend2,.articleA_recommend3,
.articleA_recommend4,.articleA_recommend5,
.articleA_recommend6{
	display: inline;
	float: left;
	padding-left:10px;
	margin-right: 4px;
	width: 183px;
	height: 281px;
	background: url(../img/article/61.png) no-repeat;
}
.articleA_recommend3{
	background: url(../img/article/62.png) no-repeat;
}
.articleA_recommend4{
	background: url(../img/article/63.png) no-repeat;
}
.articleA_recommend5{
	background: url(../img/article/64.png) no-repeat;
}
.articleA_recommend6{
	background: url(../img/article/65.png) no-repeat;
}
.articleA_recommend7{
	display: inline;
	float: left;
	padding-left:10px;
	width: 183px;
	height: 281px;
	background: url(../img/article/66.png) no-repeat;
}
.articleA_recommend span{
	display: inline-block;
	margin-top: 195px;
	padding-right:5px;
}
/*section部分*/
.section{
	width: 1180px;
	margin: 0px auto;
}
	/*section部分——F1*/
	.F1_left,.F1_center,.F1_right{
		width: 392px;
		display: inline;
		float: left;
	}
	.F1_center{
		margin: 0 1px 0 3px;
		-margin-top:1px;
	}
	.F1_right{
		#margin-top:2px;
	}
	/*section部分——F1的导航ul,li*/
.F1_h2{
	margin-top: 20px;
}
.F1_ul a:hover{
	color:#704326;
	font-weight: bold;
	display:block;
}
.F1_ul a:hover img{
	display:inline-block;
}
.F1_ul a img{
	display: none;
}
.F1_ul{
	width: 370px;
	height: 32px;
	float: right;
}
.F1_ul li{
	width: 52px;
	display: inline;
	float: left;
	text-align: center;
	margin-left: 22px;
}
/*section部分——F1的左侧部分F1_left*/
/*F1的左侧部分F1_left的第一个子元素——最上面的轮播图F1_left1*/
.F1_left1{
	height:320px;
	position: relative;
}
.F1_left1 p,.F1_center1 p{
	position: absolute;
	top: 25px;
	left: 20px;
}
.F1_left1 a,.F1_center1 a{
	color: red;
}
.F1_left1 ol,.F1_center1 ol{
	background: #FFFFFF;
	height: 50px;
}
.F1_left1 ol li,.F1_center1 ol li{
	display: inline;
	float:left;
	font-size: 14px;
}
.F1_left1_ol2,.F1_center1_ol2{
	margin: 0 1px;
}
.F1_left1 ol li a{
	display: inline-block;
	text-align: center;
	width: 130px;
	height: 50px;
	line-height: 50px;
	position: relative;
}
.F1_left1 ol li a img,.F1_center1 ol li a img{
	position: absolute;
	z-index: 1;
}
.F1_left1 ol li span,.F1_center1 ol li span{
	position: absolute;
	bottom: 270px;
	left: 20px;
	white-space: nowrap;
	font-size: 15px;
	line-height: 20px;
	color: black;
	text-align: left;
	display: none;
	z-index: 2;
}
.F1_left1 .F1_left1_ol2 span{
	left: -110px;
}
.F1_left1 .F1_left1_ol3 span{
	left: -240px;
}
.F1_left1_ol1 img{
	bottom: 50px;
	left:0px;
	display: none;
}
.F1_left1_ol2 img{
	bottom: 50px;
	left:-131px;
	display: none;
}
.F1_left1_ol3 img{
	bottom: 50px;
	left:-262px;
	display: none;
}
.F1_left1 ol li a:hover{
	font-weight: bold;
	font-size: 16px;
}
.F1_left1 ol li a:hover span{
	font-weight: normal;
	font-size: 15px;
	display: inline;
}
.F1_left1 ol li a:hover img,
.F1_center1 ol li a:hover img{
	display: inline-block;
}
/*F1的左侧部分F1_left的第二个子元素——中间的导航F1_left2*/
.F1_left2{
	background: #FFFFFF;
	padding: 15px 0;
	#padding-bottom: 0px;
	border-top: 4px solid #f6f7f9;
}
.F1_left2 ul{
	width: 150px;
	display: inline;
	float: left;
}
.F1_left2 ol{
	width: 150px;
	display: inline;
	float: right;
	margin-right: 30px;
}
.F1_left2 li{
	width: 55px;
	height: 24px;
	padding-left: 20px;
	line-height: 24px;
	display:inline;
	float: left;
}
/*F1的左侧部分F1_left的第三个子元素——底部的商品F1_left3*/
/*F1的中间部分F1_center的第二、三个子元素——底部的商品F1_center3。代码重复，写在一起！*/
.F1_left3,.F1_center3{
	height: 125px;
	padding: 20px 0 0 20px;
	margin-top: 2px;
	background: #fff;
	position: relative;
	cursor: pointer;
}
.F1_center3{
	#margin-top: 3px;
}
.F1_left3 img,.F1_center3 img{
	position: absolute;
	right: 20px;
	top: 0;
}
.F1_left3 a:hover img,.F1_center3 a:hover img{
	opacity: 0.7;
}
/*section部分——F1的中间部分F1_center*/
/*F1的中间部分F1_center的第一个子元素——最上面的轮播图F1_center*/
.F1_center1{
	height:303px; 
	#height:305px; 
	position: relative;
}
.F1_center1 ol{ 
	padding-left: 160px;
	margin-top: -3px;
}
.F1_center1 ol li{
	margin-right: 10px;
	margin-top: 15px;
}
.F1_center1 ol li a{ 
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius:50%;
	background: gray;
	position: relative;
}
.F1_center1 ol li span{
	bottom: 221px; 
	left: -140px;
}
.F1_center1 .F1_center1_ol2 span{
	left: -170px;
}
.F1_center1 .F1_center1_ol3 span{ 
	left: -200px;
}
.F1_center1_ol1 img{
	bottom: 20px;
	left:-160px;
	display: none;
}
.F1_center1_ol2 img{
	bottom: 20px;
	left:-191px;
	display: none;
}
.F1_center1_ol3 img{
	bottom: 20px;
	left:-222px;
	display: none;
}
.F1_center1 ol li a:hover{
	background: red;
}
.F1_center1 ol li a:hover span{
	display: inline;
}
/*section部分——F1的右侧部分.F1_right1*/
.F1_right1{
	width:175px;
	height: 273px;
	display: inline;
	float: left;
	margin-left: 1px;
	padding-top:25px;
	padding-left: 20px;
	background: #FFFFFF;
	cursor: pointer;
}
.F1_right2{
	margin-top: 1px;
	#margin-top: 4px;
}
.F1_right1 img{
	margin: 25px 0 0 -18px;
}
.F1_right1 a:hover img{
	opacity: 0.7;
}
.F1_right2 img{
	margin-top: 35px;
}
/*F2的中间部分F2_center的第三、四个子元素——底部的商品F2_center3*/
.F2_center3{
	width: 177px;
	height: 125px;
	padding-top: 20px;
	padding-left: 18px;
	position: relative;
	background: #FFFFFF;
	display: inline;
	float: left;
	margin-top: 2px;
	#margin-top: 4px;
}
.F2_center4{
	margin-left: 1px;
}
.F2_center3 img{
	position: absolute;
	right: 10px;
	top: 30px;
}
.F2_center3 a:hover img{
	opacity: 0.7;
}
/*section下面的猜你喜欢*/
.guess{
	margin: 0 auto;
	width: 1180px;
}
/*guess下面的footer*/
.footer{
	margin: 0 auto;
	width: 1180px;
}
/*footer顶部的带图标的导航*/
.footer ul{
	border-bottom: 1px solid #cbcaca;
	height: 72px;
	margin-bottom: 10px;
}
.footer ul li{
	width: 236px;;
	height: 72px;
	float: left;
}
.footer ul li div{
	display: inline;
	float: left;
	line-height: 24px;
	width: 112px;
	height: 72px;
	margin-top: 12px;
}
.footer .footer_ul_li1,
.footer .footer_ul_li2,
.footer .footer_ul_li3,
.footer .footer_ul_li4,
.footer .footer_ul_li5{
	width: 55px;
	height: 72px;
	margin-top: 0px;
}
.footer_ul_li1{
	background: url(../img/icons.gif) no-repeat -112px 1px;
}
.footer_ul_li2{
	background: url(../img/icons.gif) no-repeat -112px -87px;
}
.footer_ul_li3{
	background: url(../img/icons.gif) no-repeat -112px -175px;
}
.footer_ul_li4{
	background: url(../img/icons.gif) no-repeat -185px 1px;
}
.footer_ul_li5{
	background: url(../img/icons.gif) no-repeat -185px -87px;
}
/*footer图标下面的导航*/
.footer ol{
	float: left;
}
.footer ol li{
	width: 196px;
	line-height: 26px;
}
/*footer下面的footerA部分*/
.footerA{
width: 1180px;
margin: 0 auto;
}
.footerA ul li{
	display: inline;
	float: left;
	width: 320px;
	line-height: 22px;
	padding: 0 35px;
	color: #FFFFFF;
	margin-top: 10px;
}
.footerA ul li img,.footerA ul li div{
	display: inline;
	float: left;
}
.footerA ul li div{
	width: 220px;
	margin-left: 20px;
}
.footerA2 li{
	border-left:1px solid #FFFFFF;
	border-right:1px solid #FFFFFF;
}
.footerB{
	margin: 0 auto;
	width: 1180px;
	line-height: 26px;
}
.footerB a{
	color:white;
	border-right: 1px solid #748261;
	padding: 0 10px;
}
.footerB a:hover{
	color:red;
}
.footerc{
	margin: 0 auto;
	width: 1180px;
	color: #999894;
	line-height: 20px;
	padding-left: 15px;
}
.footerc img{
	margin-top: 10px;
	margin-right: 5px;
}
.question{
	width: 320px;
	height: 320px;
	background: red;
	color: #fff;
	position: fixed;
	right: 0px;
	bottom: 100px;
	font-size: 16px;
	-display:none;
}
