<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width,initial-scale=1"/>
		<meta charset="UTF-8">
		<title></title>
		<style type="text/css">
			
		</style>
	</head>
	<body>
		<div ng-app="myApp">
			<div ng-controller="myController">
				<div class="collapse1" ng-click="f1()">
					折叠1
					<p ng-show="a">11111111111111111111</p>
				</div>
				<div class="collapse2" ng-click="f2()">
					折叠2
					<p ng-show="b">22222222222222222222</p>
				</div>
				<div class="collapse3" ng-click="f3()">
					折叠3
					<p ng-show="c">33333333333333333333</p>
				</div>
			</div>
		</div>
	</body>
</html>
<script type="text/javascript" src="angular/angular.min.js"></script>
<script type="text/javascript" src="angular/angular-animate.min.js"></script>
<script type="text/javascript" src="angular/angular-route.min.js"></script>
<script type="text/javascript">
	var app = angular.module("myApp", []);
	app.run(function ($rootScope) {
		
	});
	app.controller("myController", function ($scope, $interval) {
		$scope.a = false;
		$scope.b = false;
		$scope.c = false;
		$scope.f1 = function () {
			$scope.a = !$scope.a;
		}
		$scope.f2 = function () {
			$scope.b = !$scope.b;
		}
		$scope.f3 = function () {
			$scope.c = !$scope.c;
		}
	});
</script>