<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width,initial-scale=1"/>
		<meta charset="UTF-8">
		<title></title>
		<style type="text/css">
			.cl {
				background:red;
			}
		</style>
	</head>
	<body>
		<div ng-app="myApp">
			<div ng-controller="myController">
				<button ng-click="click(0)" ng-class="{cl:i==0}">苹果</button>
				<button ng-click="click(1)" ng-class="{cl:i==1}">香蕉</button>
				<button ng-click="click(2)" ng-class="{cl:i==2}">梨</button>
				<div>
					<p ng-show="i == 0">苹果苹果苹果苹果苹果苹果苹果</p>
					<p ng-show="i == 1">香蕉香蕉香蕉香蕉香蕉香蕉香蕉</p>
					<p ng-show="i == 2">梨梨梨梨梨梨梨梨梨梨梨梨梨梨</p>
				</div>
			</div>
		</div>
	</body>
</html>
<script type="text/javascript" src="angular/angular.min.js"></script>
<script type="text/javascript" src="angular/angular-animate.min.js"></script>
<script type="text/javascript" src="angular/angular-route.min.js"></script>
<script type="text/javascript">
	var app=angular.module("myApp", []);
	app.run(function ($rootScope) {
		
	});
	app.controller("myController", function ($scope) {
		$scope.i = 0;
		$scope.click = function (par) {
			$scope.i = par;
		}
	});
</script>