.cityData,.dateData{
	width: 49%;
	height: 50vh;
	display: inline-block;
	box-sizing: border-box;
}
/*css样式重置*/
body,p,ul,li,ol,h1,h2,h3{
	margin:0;
	padding:0;
}
ul,ol{
	list-style:none;
}
/*k线图居中*/
.chart{
	text-align: center;
}
/*k线图样式*/
/*.dateData{
	width: 100%;
	height: 50vh;
	display: inline-block;
	box-sizing: border-box;
}*/
/*导航条样式*/
.navbar{
	background: #767676;
	height: 50px;
	line-height: 50px;
	color: white;
	margin-bottom: 10px;
}
.navbar-name{
	margin-right: 15px;
}
/*导航条标题样式*/
.navbar-title{
	display: inline-block;
	background: #6a6a6a;
	width: 110px;
	height: 48px;
	text-align: center;
}
/*登陆者*/
.navbar-guest{
	background: #6a6a6a;
	width: 100px;
	height: 48px;
	text-align: center;
	float: right;
	margin-right: -15px;	
}
/*选择城市下拉框*/
.mySelect{
	display: inline-block;
	background: #6a6a6a;
	height: 48px;
}
.mySelect select{
	background: #6a6a6a;
	height: 46px;
	padding: 0 10px;
	border: none;
	outline: none;
}
.mySelect option{
	outline: none;
	border: none;
}
