footer{
	position: fixed;
	left: 0;
	bottom: 0;
	height: 55px;
	width: 100%;
}
footer ul{
	background: #000;
	width: 1180px;
	height: 55px;
	margin: 0 auto;
}
footer ul li{
	list-style: none;
	float: left;
	width: 100%;
	color: #fff;
	font-size: 14px;
	text-align: center;
}
footer ul li i{
	margin: 10px auto 0;
}
footer .home,footer .cate,footer .shopCar,footer .mine {
	display: block;
	width: 18px;
	height: 18px;
	background: url(../img/btn_nav.png) no-repeat;
	background-size: 38px 96px;
}
footer .cate {
	background-position:0 -18px;
}
footer .shopCar {
	background-position:0 -38px;
}
footer .mine {
	background-position:0 -55px;
}
ul a{
	float: left;
	width: 25%;
	height: 55px;
}
footer ul a:hover li{
	color: red;
}