body{
	background: #eee;
}
article{
	width: 1180px;
	margin: 0 auto;
	padding: 0 0 55px;
	overflow: hidden;
}
.wrap{
	width: 33.33%;
	border-bottom: 1px solid #ccc;
}
img{
	width: 35%;
	padding: 20px;
	box-sizing: border-box;
}	
.inner{
	width: 65%;
	padding: 20px;
	box-sizing: border-box;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.mark_price{
	text-decoration: line-through;
}
.vip_price{
	color:red;
}
/*宽度处于600px~800px之间*/
@media only screen and (min-width: 600px) and (max-width: 800px) {
	header {
		width: 100%;
	}
	article,.wrap{
		width: 100%;
	}
	img{
		padding: 10px;
	}	
	.inner{
		padding: 10px;
	}
	footer ul{
		width: 100%;
	}
}
/*宽度小于600px*/
@media only screen and (max-width: 600px) {
	header {
		width: 100%;
	}
	article,.wrap{
		width: 100%;
	}
	img{
		padding: 5px;
		width: 100%;
	}		
	.inner{
		padding: 5px;
		width: 100%;
	}
	footer ul{
		width: 100%;
	}
}