<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width,initial-scale=1"/>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="swiper/swiper.min.css"/>
		<style type="text/css">
			body,p,ul,ol,li,h1,h2,h3,dl,dt,dd {
				margin: 0;
				padding: 0;
			}
			ul,ol,li {
				list-style: none;
			}
			.box {
				min-width: 320px;
				max-width: 640px;
				margin: 0 auto;
			}
			footer,header {
				position: fixed;
				left: 0;
				right: 0;
				min-width: 320px;
				max-width: 640px;
				height: 45px;
				margin: 0 auto;
				background: #F7F7F7;
				height: 45px;
				line-height: 45px;
			}
			header {
				top: 0;				
			}
			footer {
				bottom: 0;
			}
			header span {
				float: left;
				width: 33.3%;
			}
			header p {
				float: left;
				height: 45px;
				width: 33.3%;
				box-sizing: border-box;				
			}
			.header_search {
				text-align: left;
				padding: 10px 0 10px 10px;				
			}
			header span {
				text-align: center;
			}
			header img{
				width: 25px;
				height: 25px;
			}
			.header_user {
				text-align: right;
				padding: 10px 10px 10px 0;
			}
			footer div {
				float: left;
				width: 25%;
				text-align: center;
			}
			.content {
				padding: 10px;
				box-sizing: border-box;
			}
			.content p {
				color: gray;		
			}
			.content img {
				width: 100%;
				height: 270px;
			}			
		</style>
	</head>
	<body>
		<div ng-app="myApp" class="box">
			<header>
				<p class="header_search">
					<img src="icons/1.1.png"/>
				</p>				
				<span>{{title}}</span>
				<p class="header_user">
					<img src="icons/user.png"/>
				</p>				
			</header>
			<div style="padding: 45px 0;">
				<ng-view></ng-view>
			</div>
			<footer>
				<div>
					<a href="#/main" ng-click="dealClick('首页',1)">
						<img ng-src={{path1}}/>
					</a>
				</div>
				<div>
					<a href="#/read" ng-click="dealClick('阅读',2)">
						<img ng-src={{path2}}/>
					</a>
				</div>
				<div>
					<a href="#/music" ng-click="dealClick('音乐',3)">
						<img ng-src={{path3}}/>
					</a>
				</div>
				<div>
					<a href="#/movie" ng-click="dealClick('影视',4)">
						<img ng-src={{path4}}/>
					</a>
				</div>
			</footer>
		</div>
	</body>
</html>
<script type="text/javascript" src="angular/angular.min.js"></script>
<script type="text/javascript" src="angular/angular-animate.min.js"></script>
<script type="text/javascript" src="angular/angular-route.min.js"></script>
<script type="text/javascript" src="js/interface.js"></script>
<script type="text/javascript" src="js/base64.js"></script>
<script type="text/javascript" src="swiper/swiper.min.js"></script>
<script type="text/javascript">
	var app = angular.module("myApp", ['ngRoute']);
	app.run(function ($rootScope) {
		$rootScope.urlPrefix=urlPrefix;
		$rootScope.imagePrefix=imagePrefix;
		$rootScope.title="首页";
		$rootScope.path1="icons/2.1.2.png";
		$rootScope.path2="icons/2.2.1.png";
		$rootScope.path3="icons/2.3.1.png";
		$rootScope.path4="icons/2.4.1.png";
		$rootScope.dealClick=function(p1,p2){
			$rootScope.title=p1;
			switch(p2){
				case 1:
					$rootScope.path1="icons/2.1.2.png";
					$rootScope.path2="icons/2.2.1.png";
					$rootScope.path3="icons/2.3.1.png";
					$rootScope.path4="icons/2.4.1.png";
					break;
				case 2:
					$rootScope.path1="icons/2.1.1.png";
					$rootScope.path2="icons/2.2.2.png";
					$rootScope.path3="icons/2.3.1.png";
					$rootScope.path4="icons/2.4.1.png";
					break;
				case 3:
					$rootScope.path1="icons/2.1.1.png";
					$rootScope.path2="icons/2.2.1.png";
					$rootScope.path3="icons/2.3.2.png";
					$rootScope.path4="icons/2.4.1.png";
					break;
				case 4:
					$rootScope.path1="icons/2.1.1.png";
					$rootScope.path2="icons/2.2.1.png";
					$rootScope.path3="icons/2.3.1.png";
					$rootScope.path4="icons/2.4.2.png";
					break;
			}
		}
	});
	app.controller("main",function($rootScope,$scope,$http,$timeout){
		$http.get(adsUrl).then(function(e){
			$scope.ads=e.data;
			/*angularJS使用轮播图插件需要传入$timeout服务*/
			$timeout(function(){
				var mySwiper = new Swiper(".swiper-container",{
					autoplay: 2000,
					loop: true,
					pagination: ".swiper-pagination",
					paginationClickable: true,
					autoplayDisableOnInteraction: false			
				});
			},0);
			$scope.click=function(par){
				switch(par){
					case "1":
						$rootScope.title="阅读详情";
					break;
					case "2":
						$rootScope.title="音乐详情";
					break;
					case "3":
						$rootScope.title="影视详情";
					break;
				}				
			}
		});
		$http.get(mainListUrl).then(function(e){
			$scope.mainList=e.data;
			$scope.click=function(par){
				switch(par){
					case "1":
						$rootScope.title="阅读详情";
					break;
					case "2":
						$rootScope.title="音乐详情";
					break;
					case "3":
						$rootScope.title="影视详情";
					break;
				}				
			}
		});
	});
	app.controller("read",function($rootScope,$scope,$http){
		$http.get(readListUrl).then(function(e){
			$scope.readList=e.data;	
			$scope.click=function(par){
				$rootScope.title=par;
			}
		});
	});
	app.controller("readDetail",function($rootScope,$scope,$http,$sce,$routeParams){		
		$http.get(readDetailUrl+"&id="+$routeParams.id).then(function(e){			
			$scope.readDetail=e.data;
			$scope.title=e.data.hp_title;
			$scope.author=e.data.author_name;
			$scope.base64=new Base64();
			$scope.content1=$scope.base64.decode(e.data.hp_content);
			$scope.content=$sce.trustAsHtml($scope.content1);
		});
	});
	app.controller("music",function($rootScope,$scope,$http){
		$http.get(musicListUrl).then(function(e){
			$scope.musicList=e.data;
			$scope.click=function(par){
				$rootScope.title=par;
			}
		});		
	});
	app.controller("musicDetail",function($rootScope,$scope,$http,$sce,$routeParams){		
		$http.get(musicDetailUrl+"&id="+$routeParams.id).then(function(e){			
			$scope.musicDetail=e.data;
			$scope.path1=imagePrefix+e.data.media_url;
			$scope.path=$sce.trustAsResourceUrl($scope.path1);
			$scope.img=imagePrefix+e.data.img_url;
			$scope.title=e.data.title;
			$scope.forward=e.data.forward;
			$scope.styleTitle=e.data.story_title;
			$scope.author=e.data.author_name;
			$scope.base64=new Base64();
			$scope.content1=$scope.base64.decode(e.data.story);
			$scope.content=$sce.trustAsHtml($scope.content1);
		});
	});
	app.controller("movie",function($rootScope,$scope,$http){
		$http.get(movieListUrl).then(function(e){
			$scope.movieList=e.data;
			$scope.click=function(par){
				$rootScope.title=par;
			}
		});		
	});
	app.controller("movieDetail",function($rootScope,$scope,$http,$sce,$routeParams){		
		$http.get(movieDetailUrl+"&id="+$routeParams.id).then(function(e){			
			$scope.movieDetail=e.data;
			$scope.path1=imagePrefix+e.data.media_url;
			$scope.path=$sce.trustAsResourceUrl($scope.path1);
			$scope.img=imagePrefix+e.data.img_url;
			$scope.title=e.data.title;
			$scope.author=e.data.author_name;
		});
	});
	app.config(function($routeProvider){
		$routeProvider.when("/",{
			controller:"main",
			templateUrl:"main.html"
		});
		$routeProvider.when("/main",{
			controller:"main",
			templateUrl:"main.html"
		});
		$routeProvider.when("/read",{
			controller:"read",
			templateUrl:"read.html"
		});
		$routeProvider.when("/readDetail/:id",{
			controller:"readDetail",
			templateUrl:"readDetail.html"
		});
		$routeProvider.when("/music",{
			controller:"music",
			templateUrl:"music.html"
		});
		$routeProvider.when("/musicDetail/:id",{
			controller:"musicDetail",
			templateUrl:"musicDetail.html"
		});		
		$routeProvider.when("/movie",{
			controller:"movie",
			templateUrl:"movie.html"
		});
		$routeProvider.when("/movieDetail/:id",{
			controller:"movieDetail",
			templateUrl:"movieDetail.html"
		});
	});
	localStorage.clear();
</script>