<style type="text/css">
	.content1{
		margin-bottom: 5px;
		box-sizing: border-box;
		overflow: hidden;
		background: white;
	}
	.content1 p{
		color: gray;
		font-size: 10px;
	}
	.content1_text{
		float: left;
		width: 60%;
		padding: 5px;
	} 
	.content1 img{
		float: left;
		width: 120px;
		height: 120px;
		padding: 10px;
		box-sizing:border-box;
		border-radius: 50%;
	}
	h4{
		padding: 0;
		margin: 0;
	}
</style>

<div ng-contoller="music" style="background: #ccc;">
	<div class="content1" ng-repeat="e in musicList">
		<a ng-href={{'#/musicDetail/'+e.id}} ng-click="click('音乐详情')">
			<img ng-src="{{imagePrefix+e.img_url}}"/>
		</a>		
		<div class="content1_text">
			<h4 style="padding-bottom: 5px;">{{e.title}}</h4>
			<p>作者：{{e.author_name}}</p>
			<p>更新：{{e.post_date}} 收藏：{{e.like_count}}</p>
			<p style="padding-top: 5px;">{{e.forward}}</p>
		</div>
	</div>
</div>
